main {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-end;

  @media screen and (max-width: 1024px) {
    align-items: center;
    align-self: center;
  }
}

main div {
  display: flex;
  align-items: center;
  column-gap: 12px;

  @media screen and (max-width: 1024px) {
    padding-bottom: 20px;
  }
}

main div button {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid var(--text);
  transition: opacity 0.4s;

  @media screen and (max-width: 1024px) {
    width: 30px;
    height: 30px;
  }
}

main div button:disabled {
  opacity: 0.6;
}

main div button svg path {
  fill: var(--text);
}

#member__name {
  font-size: 150px;
  letter-spacing: 6px;
  font-weight: 400;
  font-family: 'Star Guard Italic';
  color: transparent;
  padding-right: 10px;

  @media screen and (max-width: 1024px) {
    font-size: 64px;
    text-align: center;
    overflow: hidden;
  }
}

#member__name.peter {
  background: var(--peter);
  -webkit-background-clip: text;
}

#member__name.gamora {
  background: var(--gamora);
  -webkit-background-clip: text;
}

#member__name.drax {
  background: var(--drax);
  -webkit-background-clip: text;
}

#member__name.mantis {
  background: var(--mantis);
  -webkit-background-clip: text;
}

#member__name.rocket {
  background: var(--rocket);
  -webkit-background-clip: text;
}

#member__name.groot {
  background: var(--groot);
  -webkit-background-clip: text;
}
